*{
    /* font-family: "Raleway", sans-serif; */
    box-sizing: border-box;

}
.font-inter{

    font-family: "Inter Tight", sans-serif;
}
.font-raleway {
     font-family: "Raleway", sans-serif;
}
.img{
    position: relative;
    right: 250px;
}
.img2{
   
    position: absolute;
    
    right:292px;
    top: 1410px;
}
